WEB_HOST=0.0.0.0
WEB_PORT=8080
# supported GRAPH_DB values are neo4j or memgraph
GRAPH_DB=neo4j
NEO4J_HOST=localhost
NEO4J_BOLT_PORT=7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=neo4j_password
MEMGRAPH_HOST=localhost
MEMGRAPH_BOLT_PORT=7687
# authentication is disabled by default in memgraph database.
# Remove the two lines below for setting MEMGRAPH_USERNAME and
# MEMGRAPH_PASSWORD if the default memgraph database behavior
# without user authentication is configured
MEMGRAPH_USERNAME=memgraph
MEMGRAPH_PASSWORD=memgraph_password
GRAPH_QUERY_TIMEOUT=600
PLATER_SERVICE_ADDRESS=localhost
PLATER_TITLE=Plater
PLATER_VERSION=1.5.1
BL_VERSION=4.1.6
