coverage
bmt==0.6.0
fastapi==0.63.0
pyaml==20.3.1
pytest==5.4.1
pytest-asyncio==0.14.0
starlette==0.13.6
uvicorn==0.11.7
git+https://github.com/ranking-agent/reasoner.git@main#egg=reasoner
git+https://github.com/TranslatorSRI/reasoner-pydantic@v1.1.0#egg=reasoner-pydantic
httpx
pytest-httpx